@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

.separador {
    width: 100%;
    height: 150px;
    background-color: #444;
    border: none;
}

.navegacion {
    position: fixed;
    width: 100%;
    z-index: 900;
}

.navegacion__logo {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 100px;
    opacity: 1;
}

.navegacion__barra {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(78, 183, 245,.7);
}

.navegacion_contbuttons {
    position: relative;
    text-align: center;
    float: right;
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;

}

.navegacion_buttons {
    color: white;
    font-size: 0.9375em;
    display: inline-block;
    text-align: center;
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    position: relative;
}

.navegacion_buttons:hover {
    display: inline-block;
    border-bottom: 2px solid #E92C2C;
}

.navegacion_buttons:focus {
    display: inline-block;
    border-bottom: 2px solid #E92C2C;
}

.parrafo__texto1 {
    padding-top: 120px;
    padding-right: 600px;
    padding-left: 600px;
}

.fondo {
    background-image: url(../img/fondo/background1.png);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
    z-index: -1;
}

.fondo__texto1 {
    position: absolute;
    display: block;
    padding-top: 400px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 10px rgb(0, 0, 0);
}

.nosotros {
    background-image: url(../img/fondo/background3.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 1000px;
}

.nosotros__titulo {
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    padding-top: 20px;
}

.nosotros__parrafo {
    text-align: center;
    font-size: 26px;
    padding: 100px 300px;
}

.nosotros__imagenes {
    text-align: center;
}

.nosotros__imagen {
    width: 300px;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 30px;
}

.proyectos {
    background-image: url(../img/fondo/background2.png);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 1000px;
}

.proyectos__titulo {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    padding-top: 20px;
}

.proyectos__parrafo {
    text-align: center;
    font-size: 26px;
    padding: 100px 300px;
    background-color: rgba(255, 255, 255, 0.7);
}

.proyectos__imagenes {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding-bottom: 300px;
}

.proyectos__imagen {
    width: 300px;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 30px;
}

.proyectos--contactanos {
    background-image: url(../img/fondo/background5.png);
}

.contactanos__formcontainer{
    display: flex;
    justify-content: center;
    height: 800px;
    align-items: center;
}

.contactanos__form{
    border-radius: 20px;
    height: 300px;
    width: 300px;
    background-color: wheat;
}

.contenedor{
    width: 90%;
    max-width:900px;
    margin: auto;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tabla{
    width: 33%;
    height: 550px;
    margin: auto;
    border:1px solid #343759;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px  #343759;
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    color: #343759;
}

.tabla>h2{
    font-size:30px;
    margin-bottom:35px;
}

.tabla img{
    width: 64px;
    margin-bottom:35px;
}

.tabla > h3{
    font-size:30px;
    margin-bottom: 20px;
}

.tabla > p{
    display: block;
    margin-bottom:20px;
}

.boton{
    display:inline-block;
    width: 150px;
    padding:12px;
    background: #71e92c;
    text-decoration: none;
    color: #353535;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: auto;
}

.boton:hover {
    background: #57b322;
}

.tabla:hover, .hover{
    background: #83CCF8;
    color: #555555;
    transition: .5s all;
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .tabla{
        width: 45%;
        max-width:none;
        margin-bottom: 40px;
        flex-grow: initial;
    }
}

@media screen and (max-width: 700px){
    .tabla{
        width: 45%;
        padding:30px;
    }
    .tabla > h2{
        margin-top:40px;
    }
}

@media screen and (max-width:550px){
    .tabla{
        width: 85%;
        padding: 20px;
    }
}

