@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

.separador {
    width: 100%;
    height: 150px;
    background-color: #444;
    border: none;
}

.navegacion {
    position: fixed;
    width: 100%;
    z-index: 900;
}

.navegacion__logo {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 100px;
    opacity: 1;
}

.navegacion__barra {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(78, 183, 245,.7);
}

.navegacion_contbuttons {
    position: relative;
    text-align: center;
    float: right;
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;

}

.navegacion_buttons {
    color: white;
    font-size: 0.9375em;
    display: inline-block;
    text-align: center;
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    position: relative;
}

.navegacion_buttons:hover {
    display: inline-block;
    border-bottom: 2px solid rgb(131, 13, 155);
}

.parrafo__texto1 {
    padding-top: 120px;
    padding-right: 600px;
    padding-left: 600px;
}

.fondo {
    background-image: url(../img/fondo/background1.png);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
    z-index: -1;
}

.fondo__texto1 {
    position: absolute;
    display: block;
    padding-top: 400px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 10px rgb(0, 0, 0);
}

.nosotros {
    background-image: url(https://cdn.hipwallpaper.com/i/11/62/4zlOkK.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 1000px;
}

.nosotros__titulo {
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    padding-top: 20px;
}

.nosotros__parrafo {
    text-align: center;
    font-size: 26px;
    padding: 100px 300px;
}

.nosotros__imagenes {
    text-align: center;
}

.nosotros__imagen {
    width: 300px;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 30px;
}